{% extends "watch/base.html" %}
{% block title %}Password reset{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h1 class="text-center">Password Set</h1>
                        <h3>Your password has been set. You can log in now.</h3>
                        <br>
                        <a class="btn btn-success btn-lg" href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}