{% extends "watch/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h1 class="text-center">Reset your password</h1>
                        <h3>We've emailed you instructions for setting your password.</h3>
                        <h5>If you don't receive an email, please make sure you've entered the email address you
                            registered with.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}